.bg-vid {
  /* position: fixed; */
  width: 100vw;
  height: auto;
  object-fit: cover;
  z-index: 0;
}
.cover {
  width: 100vw;
  height: auto;
}
.main-container {
  position: absolute;
  /* margin-left: 1rem;
  margin-right: 1rem; */
}
@media only screen and (max-width: 480px) {
  /* .bg-vid {
    height: 500px;
    width: 100vw;
  } */
}
.list {
  padding-left: 0;
}
.li {
  padding-top: 7px;
  padding-bottom: 7px;
}
